%%
%% logs
{logdir, "/tmp/test/datum/"}.

%%
%% suites
{suites, ".", all}.
% {skip_suites,  ".", [
%    foldable_SUITE,
%    maplike_SUITE,
%    traversable_SUITE,

%    category_SUITE,
%    lens_SUITE,
%    m_SUITE,
%    stream_SUITE,
%    tree_SUITE
% ], "debug"}.

%%  
%% code coverage
{cover,  "cover.spec"}.
