{erl_opts, [
   warnings_as_errors
%   native, {hipe, o3} 
]}.

{erl_first_files, [
   "src/category/category.erl"
  ,"src/category/datum_cat.erl"
  ,"src/category/datum_cat_f.erl"
  ,"src/category/datum_cat_option.erl"
  ,"src/category/datum_cat_undefined.erl"
  ,"src/category/datum_cat_either.erl"
  ,"src/category/datum_cat_reader.erl"
  ,"src/category/datum_cat_kleisli.erl"

  ,"src/monad/monad.erl"
  ,"src/monad/datum_monad.erl"

  ,"src/foldable.erl"
  ,"src/maplike.erl"
  ,"src/topological.erl"
  ,"src/traversable.erl"
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "/tmp/test/datum/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
