{erl_opts, [
   native, {hipe, o3} 
]}.

{erl_first_files, [
   "src/category/category.erl"
  ,"src/category/datum_cat.erl"
  ,"src/category/datum_cat_f.erl"
  ,"src/category/datum_cat_maybe.erl"
  ,"src/category/datum_cat_xor.erl"

  ,"src/monad/monad.erl"
  ,"src/monad/datum_monad.erl"
]}.
{cover_enabled, true}.

