{erl_opts, [
%   'P',
   native, {hipe, o3} 
]}.

{erl_first_files, [
   "src/category/category.erl"
  ,"src/category/datum_cat.erl"
  ,"src/category/datum_cat_f.erl"
  ,"src/category/datum_cat_option.erl"
  ,"src/category/datum_cat_either.erl"
  ,"src/category/datum_cat_pattern.erl"
  ,"src/category/datum_cat_kleisli.erl"

  ,"src/monad/monad.erl"
  ,"src/monad/datum_monad.erl"
]}.
{cover_enabled, true}.

